body{
	text-align:center;
}
.mod1{
	background-image:url("5.jpg");	
	width:100%;
}
.center {
    margin: auto;
    width: 30%;
    padding: 10px;
	text-align:center;
	color:white;
	font-size:large;
}
.total_budget{
	font-size : xx-large;
}

.income_1{
	margin: auto;
	height:50px;
	width:250px;
	background-color: #00FFFF;
	text-align:center;
	color:black;
}
.curr_income .curr_expense .tot_percent{
	padding-left : 10px;
	float : right;
}

.expense_1{
	margin: auto;
	height:50px;
	width:250px;	
	background-color: #FF4500;
	text-align:center;
	color:black;
}
.desc{
	width:50%;
}
.val{
	width:10%;
}
.tickmark{
	font-family: Arial Unicode MS, Lucida Grande;
	color:green;
    content:  &#10003;
    border-radius:50%;	
}


table {
    border-collapse: collapse;
    width: 100%;
	background-color: #FFEFD5;
}

.right{
	float:right;
}
.left{
	float:left;
}
.income_text{
	padding-left:60px;
	height:80%;
	width:50%;
	color:green;
	float:left;
}
.expense_text{
	padding-left:70px;
	color:red;
	float:left;
	height:80%;
	width:50%;
}	

.pad_left{
	padding-left:10%;
}
.red{
	color:red;
}
.green{
	color:green;
}

#income_table .item_val{
	color: green;
}
#expense_table .item_val {
	color: red;
}
.item_percent{
	color:red;
	font-size : 10px;
}

.hiddenButton{
	display : none;
}

.item_delete:hover .hiddenButton {
	background-image: url("del.png");
	height : 20px;
	width:20px;
	display: block;
}

th,td{
	width : 20px;
	height : 13px;
}
input[type=text] {
	height: 30px;
	width:500px;
}
input[type=number] {
	height: 30px;
	width:70px;
}
input[type=submit] {height: 78px;}
.budget_type{
	height : 35px;
	width : 35px;
}
